
<%= form_for(@listing) do |form| %>

<div class="form-group " >
 <%= form.label :images %>
 <%= image_tag @listing.image_url.to_s if @listing.images? %>
  <%= form.file_field :images, multiple: true %>

</div>


<div class="form-group " >
 <%= form.label :descriptions %>
 <%= form.text_field :descriptions, type: "text", class: "form-control", placeholder: "" %>
</div>

<div class="form-group ">
 <%= form.label :property_type %>
 <%= form.text_field :property_type, type: "text", class: "form-control", placeholder: "apartment/house/villa" %>
</div>

<div class="form-group ">
 <%= form.label :room_type %>
 <%= form.text_field :room_type, type: "text", class: "form-control",placeholder: "private or share" %>
</div>

<div class="form-group ">
 <%= form.label :acommmodates %>
 <%= form.email_field :acommmodates, type: "text", class: "form-control",placeholder: "number of occupants" %>
</div>

<div class="form-group ">
 <%= form.label :bedrooms %>
 <%= form.email_field :bedrooms, type: "text", class: "form-control",placeholder: "number of bedrooms 1,2.." %>
</div>

<div class="form-group ">
 <%= form.label :beds %>
 <%= form.email_field :beds, type: "text", class: "form-control", placeholder: "number of beds 1,2,..." %>
</div>

<div class="form-group ">
 <%= form.label :bathrooms %>
 <%= form.email_field :bathrooms, type: "text", class: "form-control" ,placeholder: "number of bathrooms 1,2,..." %>
</div>

<div class="form-group ">
 <%= form.label :country %>
 <%= form.email_field :country, type: "text", class: "form-control",placeholder: "ex : malaysia" %>
</div>

<div class="form-group ">
 <%= form.label :street %>
 <%= form.email_field :street, type: "text", class: "form-control",placeholder: "ex : Cross street" %>
</div>

<div class="form-group ">
 <%= form.label :city %>
 <%= form.email_field :city, type: "text", class: "form-control",placeholder: "ex : london " %>
</div>

<div class="form-group ">
 <%= form.label :state %>
 <%= form.email_field :state, type: "text", class: "form-control" ,placeholder: "ex : selangor"%>
</div>

<div class="form-group ">
 <%= form.label :zip_code %>
 <%= form.email_field :zip_code, type: "text", class: "form-control", placeholder: "ex : 43000"%>
</div>

<div>
  <%= form.submit class: "btn btn-success" %>

</div>

<%end%>

