 <div class="col-sm-6 col-sm-offset-3" id="clearance" class="sign-up">
<h1>My  list</h1>


<% if @listing.images %>
<% @listing.images.each do |x| %>
  <div id="paintings" >
    <div class="painting">
        <%= image_tag x.url %>
    <div class="clear"></div>
    </div>

  </div>
  <% end %>
<% end %>
<div class="row">

</div>

<div class="actions">
    <%= link_to "edit", edit_listing_path(@listing), method: :get %> |
    <%= link_to "remove the list" ,listing_path(@listing), :confirm => 'Are you sure?', :method => :delete %>
  </div>

<table class="table table-striped">
   <tr>
    <td>ID</td>
    <td><%=@listing.id%></td>
  </tr>
  <tr>
    <td>descriptions</td>
    <td><%=@listing.descriptions%></td>
  </tr>
  <tr>
    <td>property_type</td>
    <td><%=@listing.property_type%></td>
  </tr>
  <tr>
    <td>room_type</td>
    <td><%=@listing.room_type%></td>
  </tr>
  <tr>
    <td>acommmodates</td>
    <td><%=@listing.acommmodates%></td>
  </tr>
  <tr>
    <td>bedrooms</td>
    <td><%=@listing.bedrooms%></td>
  </tr>
  <tr>
    <td>beds</td>
    <td><%=@listing.beds%></td>
  </tr>
  <tr>
    <td>bathrooms</td>
    <td><%=@listing.bathrooms%></td>
  </tr>
  <tr>
    <td>country</td>
    <td><%=@listing.country%></td>
  </tr>
  <tr>
    <td>street</td>
    <td>%=@listing.street%></td>
  </tr>

    <tr>
    <td>city</td>
    <td><%=@listing.city%></td>
  </tr>
    <tr>
    <td>zip_code</td>
    <td><%=@listing.zip_code%></td>
  </tr>
</table>

</div>





